@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

html {
  background-color: #1E1E1E;
}
